In [1]:
import numpy as np

In [2]:
data=[
    [[[12,30],[10,22],[15,31],[14,32],[6,27],[7,22],[8,20]],
     [[6,22],[7,26],[12,23],[-13,30],[10,31],[8,30],[8,29]],
     [[7,22],[12,32],[7,21],[15,28],[9,25],[9,24],[15,24]],
     [[7,29],[9,24],[6,22],[7,31],[10,22],[6,25],[10,25]]], #november
    [[[9,24],[11,27],[11,27],[8,30],[11,30],[15,20],[10,22]],
     [[13,25],[13,31],[11,31],[6,31],[10,32],[6,24],[12,31]],
     [[15,22],[6,24],[14,20],[6,29],[6,27],[11,26],[10,21]],
     [[15,20],[12,20],[7,27],[8,29],[7,21],[7,22],[15,27]]],  #december
    [[[7,20],[6,18],[8,18],[7,18],[6,22],[5,6],[22,3]],
     [[8,21],[3,21],[4,21],[3,18],[6,18],[2,7],[21,2]],
     [[3,21],[2,19],[4,21],[4,21],[3,19],[6,8],[18,5]], 
     [[8,18],[4,20],[8,22],[3,20],[8,20],[7,2],[18,6]]], #january
    [[[12,18],[7,19],[-10,20],[12,21],[7,21],[8,71],[21,8]],
     [[11,19],[9,18],[8,22],[8,22],[11,19],[11,10],[21,9]],
     [[9,20],[11,19],[7,18],[10,21],[11,22],[9,12],[18,8]],
     [[7,19],[12,20],[12,21],[10,18],[8,18],[12,12],[21,11]]] #feburary
]

                                                               TASK 1

In [3]:
temperature=np.array(data)
temperature

array([[[[ 12,  30],
         [ 10,  22],
         [ 15,  31],
         [ 14,  32],
         [  6,  27],
         [  7,  22],
         [  8,  20]],

        [[  6,  22],
         [  7,  26],
         [ 12,  23],
         [-13,  30],
         [ 10,  31],
         [  8,  30],
         [  8,  29]],

        [[  7,  22],
         [ 12,  32],
         [  7,  21],
         [ 15,  28],
         [  9,  25],
         [  9,  24],
         [ 15,  24]],

        [[  7,  29],
         [  9,  24],
         [  6,  22],
         [  7,  31],
         [ 10,  22],
         [  6,  25],
         [ 10,  25]]],


       [[[  9,  24],
         [ 11,  27],
         [ 11,  27],
         [  8,  30],
         [ 11,  30],
         [ 15,  20],
         [ 10,  22]],

        [[ 13,  25],
         [ 13,  31],
         [ 11,  31],
         [  6,  31],
         [ 10,  32],
         [  6,  24],
         [ 12,  31]],

        [[ 15,  22],
         [  6,  24],
         [ 14,  20],
         [  6,  29],
         [  6,  27],
         [ 11,  26],
         [ 10,  21]],

        [[ 15,  20],
         [ 12,  20],
         [  7,  27],
         [  8,  29],
         [  7,  21],
         [  7,  22],
         [ 15,  27]]],


       [[[  7,  20],
         [  6,  18],
         [  8,  18],
         [  7,  18],
         [  6,  22],
         [  5,   6],
         [ 22,   3]],

        [[  8,  21],
         [  3,  21],
         [  4,  21],
         [  3,  18],
         [  6,  18],
         [  2,   7],
         [ 21,   2]],

        [[  3,  21],
         [  2,  19],
         [  4,  21],
         [  4,  21],
         [  3,  19],
         [  6,   8],
         [ 18,   5]],

        [[  8,  18],
         [  4,  20],
         [  8,  22],
         [  3,  20],
         [  8,  20],
         [  7,   2],
         [ 18,   6]]],


       [[[ 12,  18],
         [  7,  19],
         [-10,  20],
         [ 12,  21],
         [  7,  21],
         [  8,  71],
         [ 21,   8]],

        [[ 11,  19],
         [  9,  18],
         [  8,  22],
         [  8,  22],
         [ 11,  19],
         [ 11,  10],
         [ 21,   9]],

        [[  9,  20],
         [ 11,  19],
         [  7,  18],
         [ 10,  21],
         [ 11,  22],
         [  9,  12],
         [ 18,   8]],

        [[  7,  19],
         [ 12,  20],
         [ 12,  21],
         [ 10,  18],
         [  8,  18],
         [ 12,  12],
         [ 21,  11]]]])

                                                             TASK 2

In [5]:
print('shape:',temperature.shape,'dimension:',temperature.ndim)

shape: (4, 4, 7, 2) dimension: 4

In [8]:
months=('November','December','January','Feburary')

In [17]:
days=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')

                                                             TASK 3

In [23]:
for j in range(4):
    print("             ",months[j])
    for i in range(7):
        print(days[i],':',temperature[j][0][i])

              November
Monday : [12 30]
Tuesday : [10 22]
Wednesday : [15 31]
Thursday : [14 32]
Friday : [ 6 27]
Saturday : [ 7 22]
Sunday : [ 8 20]
              December
Monday : [ 9 24]
Tuesday : [11 27]
Wednesday : [11 27]
Thursday : [ 8 30]
Friday : [11 30]
Saturday : [15 20]
Sunday : [10 22]
              January
Monday : [ 7 20]
Tuesday : [ 6 18]
Wednesday : [ 8 18]
Thursday : [ 7 18]
Friday : [ 6 22]
Saturday : [5 6]
Sunday : [22  3]
              Feburary
Monday : [12 18]
Tuesday : [ 7 19]
Wednesday : [-10  20]
Thursday : [12 21]
Friday : [ 7 21]
Saturday : [ 8 71]
Sunday : [21  8]

                                                            TASK 4

In [26]:
weeks=('Week 1','Week 2','Week 3','Week 4')

In [29]:
for i in range(4):
    print("             ",months[i])
    print("Tuesday")
    for j in range(4):
        print(weeks[j],':',temperature[i][j][1])

              November
Tuesday
Week 1 : [10 22]
Week 2 : [ 7 26]
Week 3 : [12 32]
Week 4 : [ 9 24]
              December
Tuesday
Week 1 : [11 27]
Week 2 : [13 31]
Week 3 : [ 6 24]
Week 4 : [12 20]
              January
Tuesday
Week 1 : [ 6 18]
Week 2 : [ 3 21]
Week 3 : [ 2 19]
Week 4 : [ 4 20]
              Feburary
Tuesday
Week 1 : [ 7 19]
Week 2 : [ 9 18]
Week 3 : [11 19]
Week 4 : [12 20]

                                                            TASK 5

In [38]:
for i in range(2):
    if i==0:
        month=i+1
    else:
        month = i +2
    print("             ",months[month])
    for j in range(4):
        print("        ",weeks[j],':')
        for k in range(6):
            print(days[k],':',temperature[month][j][k][1])

              December
         Week 1 :
Monday : 24
Tuesday : 27
Wednesday : 27
Thursday : 30
Friday : 30
Saturday : 20
         Week 2 :
Monday : 25
Tuesday : 31
Wednesday : 31
Thursday : 31
Friday : 32
Saturday : 24
         Week 3 :
Monday : 22
Tuesday : 24
Wednesday : 20
Thursday : 29
Friday : 27
Saturday : 26
         Week 4 :
Monday : 20
Tuesday : 20
Wednesday : 27
Thursday : 29
Friday : 21
Saturday : 22
              Feburary
         Week 1 :
Monday : 18
Tuesday : 19
Wednesday : 20
Thursday : 21
Friday : 21
Saturday : 71
         Week 2 :
Monday : 19
Tuesday : 18
Wednesday : 22
Thursday : 22
Friday : 19
Saturday : 10
         Week 3 :
Monday : 20
Tuesday : 19
Wednesday : 18
Thursday : 21
Friday : 22
Saturday : 12
         Week 4 :
Monday : 19
Tuesday : 20
Wednesday : 21
Thursday : 18
Friday : 18
Saturday : 12